// @mixin flex($direction: column, $jusitfy: center) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: $jusitfy;
// }
@use 'var' as v;

.project-wrapper{
  gap: 1rem;
}

.project-card {
  padding: 1rem;
  color: #01c38D;
  background: #191E29;
  width: 420px;
  border: solid;
  border-radius: 4px;
  position: relative;

  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
  }


  img {
    max-height: 50px;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    margin-top: -.5rem;
    font-size: .9rem;
    color: #283841;
  }

  p {
    color: #f2f2f2;
  }

  .tags {}

  .tag {
    display: inline;
    padding: .125rem .75rem;
    margin: 5px;
    color: #191E29;
    background: #01c38D;
    border-radius: 50px;
  }
}