:root {
    --grey: rgb(46, 46, 46);
    --light-grey: rgb(105, 105, 105);
}

// body {
//     background: var(--grey);
//     color: white;
// }

section {
    margin: 0 auto;
    width: 50%;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

form {
    margin-bottom: 2rem;
    display: flex;
}
form input{
    flex: 1 1 0;
}
form input,
form button {
    padding: .25rem;
    background: var(--light-grey);
}

.task-list {
    margin: 0 auto;
    /* border: 1px solid black; */
    min-height: 800px;
    padding: 1rem;
}

.task {
    display: flex;
    border: 1px solid black;
    padding: .25rem .5rem;
    margin: .5rem 0
}

.input {
    flex: 1 1 0%;
    color: white;
}

.edit, .delete {
    margin: .25rem;
    padding: 0 .25rem;
    border: none;
    background: none;
    color: white;
}

.task button:hover {
    color: grey;
}


/* triggers when the edit button is pressed */
.save{
    background: var(--light-grey);
    color: black;
}

.banner{
    color: red;
    text-align: center;
    margin: auto;
    display: none;
    font-size: large;
    font-weight: bold;
}

.displayOn{
    display:block;
}