$bg-dark: #010b2e;
$blue-dark: #010b2e;
$blue-med: #133660;
$blue-light: #5bb0ec;
$gray-dark: #202020;
$gray-dark-opacity: #20202050;
$gray-med: #323131;
$gray-light: #ebecee;

// font set-up
$body-font: "Montserrat", sans-serif;
$title-font: "Inconsolata", monospace;