<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/main.css">
  <title>Matt Palmer | Thanks</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8CMXZSFN5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T8CMXZSFN5');
  </script>
  <!-- end -->
</head>

<body class="thanks-body">
  <div>
    <a href="index.html"><img class="logo" src="../assets/logo.svg" alt="Business Logo" /></a>
  </div>
  <section class="thanks-container">

    <h1>Thanks For reaching out!</h1>
    <p class="thanks-p">
      I excited to help you achieve your goals!
    </p>
    <a href="../index.html" id="cta-btn" class="cta-btn">Back to Home</a>
  </section>
</body>

</html>